---
layout: base.njk
title: Galerie
---

<div x-data="{open: false}">
    <button @click="open = !open">
        Affiche/Cache dialogue
    </button>
    <dialog :open="open">
        Contenu dialogue
    </dialog>
</div>

<div x-data="{imageUrl:null}">
    <ul class="flex">
        <li class="flex-grow"><img src="/static/thumbnails/animals-1.jpeg" alt="un animal"
          @click="imageUrl = '/static/animals-1.jpeg';" class="w-full"></li>
        <li class="flex-grow"><img src="/static/thumbnails/animals-2.jpeg" alt="un animal"
          @click="imageUrl = '/static/animals-2.jpeg';"class="w-full"></li>
        <li class="flex-grow"><img src="/static/thumbnails/animals-3.jpeg" alt="un animal"
          @click="imageUrl = '/static/animals-3.jpeg';" class="w-full"></li>
    </ul>

<div x-show="!!imageUrl" @click.away="imageUrl=null">
    <img :src="imageUrl" alt="">
</div>
</div>
