---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<div class="p-6 text-my-color font-my-font media:text-my-color2">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour tout le monde" }) }}
    </div>
</div>

